.productsTable {
  margin: 4rem 2rem 0 6rem;
  &__addProductButton {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }
    Button {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 1rem;
      padding: .5rem 1.3rem;
      background-color: black !important;
      // height: 40px;
    }
  }
  &__container {
  }
  &__headings {
  }
  &__description {
    &__size {
      display: flex;
      font-weight: bold;
      flex-wrap: wrap;
      div {
        border: 1px solid black;
        padding: 1px 3px;
        margin-left: 5px;
        margin-bottom: 3px;
        span {
          margin-left: 5px;
        }
      }
    }
    &__details {
      &__image {
        height: 50px;
        width: 80px;
        object-fit: cover;
        border-radius: 3px;
        margin-right: 1rem;
      }
    }
    &__removeButton {
      text-transform: capitalize !important;
      font-weight: bold !important;
    } 
  }
}
