.personlTraining{
    &__bannerImage{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    &__registrationForm{
        display: flex;
        flex-direction: row;
        &__formFields{
            form{
                display: flex;
                flex-direction: column;
            }
        }
    }
   
}