.personlTraining {

  &__bannerImage {
    height: 400px;
    width: 100%;
    object-fit: cover;

    @media (max-width: 768px) {
      height: 150px;
      width: 100%;
      margin-bottom: 6px;
    }
  }

  &__registrationForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column-reverse;
    }

    &__formFields {
      width: 50%;

      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0px;
      }

      form {
        width: 70%;
        padding: 90px 100px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        @media (max-width: 768px) {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125%;
          padding: 10px 10px;
          margin-bottom: 10px;
        }
      }

      &__inputField {
        width: 100% !important;
      }
    }

    &__formButton > button {
      cursor: pointer;
      margin-top: 30px;
      height: 2.5rem;
      border: 1px solid black;
      width: 100%;
      background-color: black;
      color: white;
      border-radius: 5px;

      @media (max-width: 768px) {
        width: 100%;
      }
    }

    &__formAvatar {
      
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      @media (max-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 5rem !important;
      }
     
     
     
    }
  }
}
