.personlTraining{
    &__bannerImage{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    &__registrationForm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__formFields{
            width: 50%;
            form{
                padding: 90px 130px;
                display: flex;
                flex-direction: column;
                
            }
            &__inputField{
                width: 100% !important;
            }
        }
        &__formAvatar{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20%;
                height: 150px;
                border-radius: 55%;
            }
        }

    }
   
}