.home {
  margin: .5rem 2rem !important;
}

.home__images-R1 {
  display: flex;
  justify-content: center;
  height: 300px;
  margin: .5rem 0;
  width: 100%;
}

.home__images-R1__image-1 {
  margin: .5rem 1rem .8rem 0;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.home__images-R1__image-1:hover {
  transition: .3s ease-in-out;
  width: 51%;
  height: auto;
}

.home__images-R1__image-2 {
  margin: .5rem 0 .8rem 1rem;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.home__images-R1__image-2:hover {
  transition: .3s ease-in-out;
  width: 51%;
  height: auto;
}

.home__images-R2 {
  display: flex;
  justify-content: center;
  height: 300px;
  margin: .5rem 0;
  width: 100%;
}

.home__images-R2__image-1 {
  margin: .5rem 1rem .8rem 0;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.home__images-R2__image-1:hover {
  transition: .3s ease-in-out;
  width: 51%;
  height: auto;
}

.home__images-R2__image-2 {
  margin: .5rem 0 .8rem 1rem;
  width: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.home__images-R2__image-2:hover {
  transition: .3s ease-in-out;
  width: 51%;
  height: auto;
}