.home {
  margin: .5rem 2rem !important; }
  .home__images__containerFirst {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: .5rem 0;
    width: 100%; }
    .home__images__containerFirst__leftImage {
      margin: .5rem 1rem .8rem 0;
      width: 50%;
      object-fit: cover;
      border-radius: 10px; }
      .home__images__containerFirst__leftImage:hover {
        transition: .3s ease-in-out;
        width: 51%;
        height: auto; }
    .home__images__containerFirst__rightImage {
      margin: .5rem 0 .8rem 1rem;
      width: 50%;
      object-fit: cover;
      border-radius: 10px; }
      .home__images__containerFirst__rightImage:hover {
        transition: .3s ease-in-out;
        width: 51%;
        height: auto; }

.personlTraining__bannerImage {
  height: 400px;
  width: 100%;
  object-fit: cover; }
  @media (max-width: 768px) {
    .personlTraining__bannerImage {
      height: 150px;
      width: 100%;
      margin-bottom: 6px; } }

.personlTraining__registrationForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .personlTraining__registrationForm {
      flex-direction: column-reverse; } }
  .personlTraining__registrationForm__formFields {
    width: 50%; }
    @media (max-width: 768px) {
      .personlTraining__registrationForm__formFields {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px 0px; } }
    .personlTraining__registrationForm__formFields form {
      width: 70%;
      padding: 90px 100px;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: column; }
      @media (max-width: 768px) {
        .personlTraining__registrationForm__formFields form {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 125%;
          padding: 10px 10px;
          margin-bottom: 10px; } }
    .personlTraining__registrationForm__formFields__inputField {
      width: 100% !important; }
  .personlTraining__registrationForm__formButton > button {
    cursor: pointer;
    margin-top: 30px;
    height: 2.5rem;
    border: 1px solid black;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 5px; }
    @media (max-width: 768px) {
      .personlTraining__registrationForm__formButton > button {
        width: 100%; } }
  .personlTraining__registrationForm__formAvatar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media (max-width: 768px) {
      .personlTraining__registrationForm__formAvatar {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 5rem !important; } }
