.home {
  margin: .5rem 2rem !important; }
  .home__images__containerFirst {
    display: flex;
    justify-content: center;
    height: 300px;
    margin: .5rem 0;
    width: 100%; }
    .home__images__containerFirst__leftImage {
      margin: .5rem 1rem .8rem 0;
      width: 50%;
      object-fit: cover;
      border-radius: 10px; }
      .home__images__containerFirst__leftImage:hover {
        transition: .3s ease-in-out;
        width: 51%;
        height: auto; }
    .home__images__containerFirst__rightImage {
      margin: .5rem 0 .8rem 1rem;
      width: 50%;
      object-fit: cover;
      border-radius: 10px; }
      .home__images__containerFirst__rightImage:hover {
        transition: .3s ease-in-out;
        width: 51%;
        height: auto; }

.personlTraining__bannerImage {
  height: 400px;
  width: 100%;
  object-fit: cover; }

.personlTraining__registrationForm {
  display: flex;
  flex-direction: row; }
  .personlTraining__registrationForm__formFields form {
    display: flex;
    flex-direction: column; }
